* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: rgb(233, 233, 233);
    height: 60px;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

header>h3 {
    position: relative;
    top: 10px;
}

.row {
    display: flex;
}

.dice {
    /* How to dice looks*/
    position: relative;
    background-color: rgb(236, 236, 236);
    width: 104px;
    height: 104px;
    border-radius: 20%;
    box-shadow: 5px 5px 15px rgb(105, 105, 105);
}

.dot {
    /* How to dot looks*/
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
}

.dice_one {
    /* to adjust the position of the dice*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.one-face {
    /*to adjust the position of the dot*/
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.dice_two {
    display: grid;
    flex-direction: row;
    justify-content: center;
}

.two-face {
    /* to adjust the position of the dot*/
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 14px;
}

.two-face .dot:nth-of-type(2) {
    /* to adjust the position of the last dot*/
    align-self: flex-end;
}

.dice_six {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*this adjusts how the children should be placed*/
.six-face {
    display: flex;
    /* the children will sit side-by-side horizontally in a row*/
    justify-content: space-between;
    /*this spaces the .column divs as far apart as possible within the .six-face container*/
}

/* this tells how each column should look*/
.six-face>.column {
    display: flex;
    /*turing the .column into a flex container*/
    /* So, this is each column, so I am specifying that which column direction to be vertical and put some space between each child element*/
    flex-direction: column;
    justify-content: space-between;
    /* this will spread the dots from top to bottom evenly*/
    padding: 14px;
}

.dice_three {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.three-face {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.three-face .dot:nth-of-type(2) {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
}

.three-face .dot:nth-of-type(3) {
    display: flex;
    position: relative;
    align-self: flex-end;
}

.dice_five {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.five-face {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.five-face>.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five-face .column:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-self: center;
}

.dice_four {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#four_dice {
    display: flex;
    justify-content: center;
}

.four-face {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.four-face>.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#result_column {
    background-color: rgb(0, 0, 0);
}

.result {
    display: flex;
    justify-content: center;
    color: red;
}

@media screen and (max-width: 560px) {
    .dice {
        /* How to dice looks*/
        position: relative;
        background-color: rgb(236, 236, 236);
        width: 80px;
        height: 80px;
        border-radius: 20%;
        box-shadow: 5px 5px 15px rgb(105, 105, 105);
    }

    .dot {
        /* How to dot looks*/
        display: block;
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: rgb(50, 50, 50);
    }
}