<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Roll</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <header class="mb-5">
        <h3> DICE ROLL </h3>
    </header>
    <div class="container">
        <div class="row">
            <div id="dice_column" class="col-12 col-md-9">
                <div id="one_dice" class="col-12 mb-3">
                    <div class="dice one-face">
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="row offset-md-3 gx-1 mb-3">
                    <div class="col-12 col-md-6">
                        <div class="dice two-face">
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="dice six-face">
                            <div class="column">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <div class="column">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row offset-md-3 gx-1 mb-3">
                    <div class="col-12 col-md-6">
                        <div class="dice three-face">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="dice five-face">
                            <div class="column">
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>

                            <span class="dot"></span>

                            <div class="column">
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="result_column" class="col-12 col-md-3">
                <div class="result">
                    <h3> Result </h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>